/* Палитра Цветов
      Логотип
Цвет логотипа: синий #2196F3;
Цвет логотипа: черный #000000;
Цвет логотипа: белый #FFFFFF;
      Текст
Цвет заголовков: темный #212121
Цвет параграфов, контакты на белом фоне: серый #757575
Контакты на сером фоне: rgba(255, 255, 255, 0.6)
      Фон
Основной цвет фона белый #FFFFFF
Основной цвет фона темный #2F303A
Вторичный цвет фона светло-серый #F5F4FA
      Кнопки
Основной цвет кнопок синий #2196F3
Цвет :hover на синих кнопках синий #188CE8
Основной цвет кнопок серый #F5F4FA
Цвет :hover на серых кнопках синий #2196F3
Цвет бордера нижний у хедера #ECECEC
Цвет бордера карточек портфолио #EEEEEE
Team social icon color #AFB1B8
Footer connect icons color rgba(255, 255, 255, 0.1);
*/
/* Fonts
Logo Raleway 700; 
h1 Roboto 900
h2 Roboto 700
li,h3 Roboto 500
p Roboto 400 */

:root {
  --main-color: #ffffff;
  --header-logo-color: #000000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --bg-color-first: #2f303a;
  --bg-color-second: #f5f4fa;
  --btn-color-hover: #188ce8;
  --header-border: #ececec;
  --portfolio-cars-border: #eeeeee;
  --social-icon-fill: #afb1b8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
}
/* Main preferences */

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}

body {
  color: var(--text-color);
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid yellow; */
}

/* Header section */
.header {
  border-bottom: 1px solid var(--header-border);
}

.header .logo {
  padding: 24px 0;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--header-logo-color);
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  text-shadow: none;
}
.site-nav .current {
  color: var(--accent-color);
}

/* Header contacts section */

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts .link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts .icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Order section */

.order {
  padding: 200px 0;
  background-color: var(--bg-color-first);
  padding: 200px auto;
  text-align: center;

  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/order-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order-title {
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.order-button {
  padding: 10px 32px;

  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  /* display: flex;
    align-items: center; */
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--btn-color-hover);
}

/* Advantages section */

.advantages .list {
  display: flex;
  justify-content: space-between;
}

.advantages .item {
  width: 270px;
}

.advantages .item + .item {
  margin-left: 30px;
}

.advantages .card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;

  background-color: var(--bg-color-second);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages .title {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages .text {
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Services section */

.services {
  padding-bottom: 94px;
}

.services .list {
  display: flex;
  justify-content: space-between;
}

.services .item + .item {
  margin-left: 30px;
}

.services .title,
.team .title {
  margin-bottom: 50px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team section */
.team {
  background-color: var(--bg-color-second);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team .item + .item {
  margin-left: 30px;
}

.team .item {
  padding-bottom: 30px;

  background-color: var(--main-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team img {
  margin-bottom: 30px;
}

.team .worker {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-align: center;
}

/* -----Social----- */
.social {
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--social-icon-fill);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

/* Clients section */

.clients .title {
  margin-bottom: 50px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients .list {
  display: flex;
  justify-content: space-between;
}

.clients .item + .item {
  margin-left: 30px;
}

.clients .link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-fill);
  color: var(--social-icon-fill);
  border-radius: 4px;
}

.clients .icon {
  fill: currentColor;
}

.clients .link:hover,
.clients .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer section */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color-first);
}

.logo-footer {
  color: var(--main-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-address-list .item + .item {
  margin-top: 9px;
}

.footer-address-link {
  color: var(--main-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts-link {
  color: var(--text-color-secondary);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* Footer connect */
.footer .container {
  display: flex;
  align-items: baseline;
}

.connect {
  margin-left: 70px;
}

.connect .title {
  margin-bottom: 10px;

  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.connect .list {
  display: flex;
  justify-content: center;
}

.connect .item + .item {
  margin-left: 10px;
}

.connect .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-bg);
}

.connect .icon {
  fill: var(--main-color);
}

.connect .link:hover,
.connect .link:focus {
  background-color: var(--accent-color);
}

/* Porttfolio section */

.portfolio-filter {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-bottom: 16px;
  margin-bottom: 34px;
}

.portfolio-filter .item + .item {
  margin-left: 8px;
}

.portfolio-filter-button {
  padding: 6px 22px;

  color: var(--title-color);
  background-color: var(--bg-color-second);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter-button.current {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio content */

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-content .item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-content .link {
  display: block;
}

.portfolio-content .link:hover,
.portfolio-content .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-info {
  padding: 20px 24px;

  border-left: 1px solid var(--portfolio-cars-border);
  border-right: 1px solid var(--portfolio-cars-border);
  border-bottom: 1px solid var(--portfolio-cars-border);
}

.portfolio-content .title {
  margin-bottom: 4px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-content .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}
